<section class="block container">
    <header class="block__header">
        <h2 class="block_heading">heading</h2>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, dolore.

        </p>
    </header>
</section>
<section class="block block--dark block-skewed-left">
    <div class="container">
        <header class="block__header">
            <h2 class="block_heading">heading</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, dolore.
            </p>
        </header>
    </div>
</section>