<section class="block container">
    <header class="block__header">
        <h2>Os melhores gerenciamentos de portifolio</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Asperiores, ipsa.</p>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature_content">
            <h3 feature_heading>Receba as melhores recomendações</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis enim inventore ex sunt sapiente iste
                eos sed cum expedita voluptates!</p>
            <a href="#">
                <div class="link-arrow">
                    <span>Saiba mais</span>
                    <i class="fa solid fa-arrow-right"></i>
                </div>
            </a>
        </div>
        <picture>
            <source type="image/jpg" srcset="./imagens/carteira@2x.jpg 1x, ./imagens/carteira@2x.jpg 2x">
            <img class="feature_image" src="./imagens/carteira@2x.jpg" alt="">
        </picture>
    </article>

    <article class="grid grid--1x2 feature">
        <div class="feature_content">
            <h3 feature_heading>Receba as melhores recomendações</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis enim inventore ex sunt sapiente iste
                eos sed cum expedita voluptates!</p>
            <a href="#">
                <div class="link-arrow">
                    <span>Saiba mais</span>
                    <i class="fa solid fa-arrow-right"></i>
                </div>
            </a>
        </div>
        <picture>
            <source type="image/jpg" srcset="./imagens/wealth.jpg 1x, ./imagens/wealth@2x.jpg 2x">
            <img class="feature_image" src="./imagens/wealth.jpg" alt="">
        </picture>
    </article>

    <article class="grid grid--1x2 feature">
        <div class="feature_content">
            <h3 feature_heading>Receba as melhores recomendações</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis enim inventore ex sunt sapiente iste
                eos sed cum expedita voluptates!</p>
            <a href="#">
                <div class="link-arrow">
                    <span>Saiba mais</span>
                    <i class="fa solid fa-arrow-right"></i>
                </div>
            </a>
        </div>
        <picture>
            <source type="image/jpg" srcset="./imagens/support.jpg 1x, ./imagens/support@2x.jpg 2x">
            <img class="feature_image" src="./imagens/support.jpg" alt="">
        </picture>
    </article>

    <article class="grid grid--1x2 feature">
        <div class="feature_content">
            <h3 feature_heading>Receba as melhores recomendações</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis enim inventore ex sunt sapiente iste
                eos sed cum expedita voluptates!</p>
            <a href="#">
                <div class="link-arrow">
                    <span>Saiba mais</span>
                    <i class="fa solid fa-arrow-right"></i>
                </div>
            </a>
        </div>
        <picture>
            <source type="image/jpg" srcset="./imagens/noticia.jpg 1x, ./imagens/noticia@2x.jpg 2x">
            <img class="feature_image" src="./imagens/noticia.jpg" alt="">
        </picture>
    </article>
</section>