<body>
    <footer class="block block--dark footer">
        <div class="container grid">
            <section class="collapsible footer__section">
                <header class="collapsible_header">
                    <h2 class="collapsible_heading footer__heading">item 1</h2>
                    <img src="./imagens/icons/chevron.svg" class="icon icon-primary icon-big collapsible__chevron"
                        alt="">
                </header>
                <div class="collapsible_content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, qui!
                </div>
            </section>
            <section class="collapsible footer__section">
                <header class="collapsible_header">
                    <h2 class="collapsible_heading footer__heading">item 2</h2>
                    <img src="./imagens/icons/chevron.svg" class="icon icon-primary icon-big collapsible__chevron"
                        alt="">
                </header>
                <div class="collapsible_content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, qui!
                </div>
            </section>
            <section class="collapsible footer__section">
                <header class="collapsible_header">
                    <h2 class="collapsible_heading footer__heading">item 3</h2>
                    <img src="./imagens/icons/chevron.svg" class="icon icon--white icon-big collapsible__chevron"
                        alt="">
                </header>
                <div class="collapsible_content">
                    <ul class="list">
                        <li><a href="#">Brasil</a></li>
                        <li><a href="#">Americanas</a></li>
                        <li><a href="#">Global</a></li>
                    </ul>
                </div>
            </section>
            <section class="footer__brand">
                <img src="./imagens/logo.svg" alt="">
                <p class="Footer__copyright">copyright 2023 Summit</p>
            </section>
        </div>
    </footer>