<section class="block block--dark block-skewed-left hero">
    <div class="container grid grid--1x2">
        <header class="block__header hero_content">
            <h1 class="block_heading">Comece a investir hoje</h1>
            <p class="hero_tagline">Invista com os melhores analistas do mercado  
            </p>
            <a href="#" class="btn btn--accent btn-stretched">Saiba mais</a>
        </header>
        <picture>
           <source type="image/webp" srcset="\imagens/banner@2x.webp 1x,imagens/banner@2x.webp 2x"/>
           <source type="image/png" srcset="\imagens/banner.png 1x, imagens/banner@2x.png 2x" 
           />
           <img class="hero_image" src="/imagens/banner.png" alt="">
        </picture>
    </div>
</section>