<section class="block container block-plan">
    <div class="grid grid--1x3">

        <!-- Plan 1 -->
        <div class="plan">
            <div class="card card--secundary">
                <header class="card_header">
                    <h3 class="plan_name">carteira small cap</h3>
                    <span class="plan_price">R$15</span>
                    <span class="plan_billing-cicle">/mês</span>
                    <span class="badge badge--small badge--secundary">10% off</span>
                    <span class="plan_description">Carteira ganhos explosivos</span>
                </header>
                <div class="card_body">
                    <ul class="list list--tick">
                        <li class="list__item">Stock Pick</li>
                        <li class="list__item">Small11</li>
                        <li class="list__item">ETF</li>
                    </ul>
                    <button class="btn btn--block btn--outline">compre</button>
                </div>
            </div>
        </div>

        <!-- Plan 2 -->
        <div class="plan plan--popular">
            <div class="card card--secundary">
                <header class="card_header">
                    <h3 class="plan_name">carteira small cap</h3>
                    <span class="plan_price">R$15</span>
                    <span class="plan_billing-cicle">/mês</span>
                    <span class="badge badge--small badge--secundary">10% off</span>
                    <span class="plan_description">Carteira ganhos explosivos</span>
                </header>
                <div class="card_body">
                    <ul class="list list--tick">
                        <li class="list__item">Stock Pick</li>
                        <li class="list__item">Small11</li>
                        <li class="list__item">ETF</li>
                    </ul>
                    <button class="btn btn--block btn--outline">compre</button>
                </div>
            </div>
        </div>

        <!-- Plan 3 -->
        <div class="plan">
            <div class="card card--secundary">
                <header class="card_header">
                    <h3 class="plan_name">carteira small cap</h3>
                    <span class="plan_price">R$15</span>
                    <span class="plan_billing-cicle">/mês</span>
                    <span class="badge badge--small badge--primary">10% off</span>
                    <span class="plan_description">Carteira ganhos explosivos</span>
                </header>
                <div class="card_body">
                    <ul class="list list--tick">
                        <li class="list__item">Stock Pick</li>
                        <li class="list__item">Small11</li>
                        <li class="list__item">ETF</li>
                    </ul>
                    <button class="btn btn--block btn--outline">compre</button>
                </div>
            </div>
        </div>

    </div>
</section>