<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus debitis quos dignissimos quam
        quae quasi eligendi magnam reprehenderit illum vero?
    </p>
    <footer>
        <div class="media">
            <div class="media_image">
                <img src="imagens/wallet (1).png" alt="" />
            </div>
            <div class="media_body">
                <h3 class="media_title quote_author">Gabriel</h3>
                <p class="media_description quote_company">Abc company</p>
            </div>
        </div>
    </footer>
</blockquote>