<section class="search block container">
    <header class="block__header">
        <h2>procure pelas melhores açoes</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, repellat?

        </p>
    </header>
    <div class="input-group">
        <input type="text" class="input" placeholder="procure uma ação..." />
        <button class="btn btn--accent">busca</button>
    </div>
    <ul class="list search_products">
        <a href="#">
            <li class="search_products-item badge">etfs</li>
        </a>
        <a href="#">
            <li class="search_products-item badge">Small cap</li>
        </a>
        <a href="#">
            <li class="search_products-item badge">dividendos</li>
        </a>
        <a href="#">
            <li class="search_products-item badge">FIIs</li>
        </a>
        <a href="#">
            <li class="search_products-item badge">REITS</li>
        </a>
        <a href="#">
            <li class="search_products-item badge">s&P 500</li>
        </a>
        </li></a>
    </ul>
</section>