<section class="showcase block block--dark">
    <h2 class="showcase_heading">Melhores recomendações de Criptomoeda</h2>
    <div class="grid grid--1x2">
        <div class="showcase_image">
            <picture>
                <source type="image/jpg" srcset="imagens/showcase.jpg 1x, imagens/showcase2x@.jpg 2x">
                <img src="./imagens/showcase.jpg" alt="">
            </picture>
        </div>
        <div class="showcase_content">
            <div class="media">
                <div class="media_image">
                    <img src="./imagens/learn.png" alt="">
                </div>
                <div class="media_body">
                    <h3 class="media_title">carteira do bull market</h3>
                    <p class="media_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
                        minus!</p>
                </div>
            </div>
            <div class="media">
                <div class="media_image">
                    <img src="./imagens/wallet (1).png" alt="">
                </div>
                <div class="media_body">
                    <h3 class="media_title">carteira do bull market</h3>
                    <p class="media_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
                        minus!</p>
                </div>
            </div>
            <div class="media">
                <div class="media_image">
                    <img src="./imagens/market.png" alt="">
                </div>
                <div class="media_body">
                    <h3 class="media_title">carteira do bull market</h3>
                    <p class="media_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
                        minus!</p>
                </div>
            </div>
        </div>
    </div>
</section>