<section class="block">

    <div class="block__header">
        <h2>oque nossos clientes dizem</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, accusamus!</p>
    </div>
    <div class="container">
        <div class="card testimonial">
            <div class="grid grid--1x2">
                <div class="testimonial_image">
                    <img class="testimonial_image" src="./imagens/testimonial.png" alt="">
                    <blockquote class="quote">
                        <p class="quote__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus debitis quos
                            dignissimos quam
                            quae quasi eligendi magnam reprehenderit illum vero?
                        </p>
                        <footer>
                            <div class="media">
                                <div class="media_image">
                                    <img src="imagens/wallet (1).png" alt="" />
                                </div>
                                <div class="media_body">
                                    <h3 class="media_title quote_author">Gabriel</h3>
                                    <p class="media_description quote_company">Abc company</p>
                                </div>
                            </div>
                        </footer>
                    </blockquote>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>